<h1> <%= @user.name %></h1>
<p>Here is a list of recipes owned by this user:</p>
<ul>
  <% @user.recipes.each do |r| %>
    <li>
      <%= link_to r.name, recipe_path(r) %>
    </li>
  <% end %>
</ul>
<br>
<%= link_to "Edit", edit_user_path %>
<br><br>
<%= link_to "Return to Menu", users_path %>
